<div class="flex items-center justify-center" *ngIf="isShow">
  <div class="fixed inset-0 bg-black opacity-50"></div>
  <div class="p-6 bg-white shadow-md rounded-md z-10 min-w-[500px]">
    <h6 class="uppercase font-semibold">Add category</h6>
    <form class="mt-6 space-y-6" [formGroup]="fg" (ngSubmit)="createCategory()">
      <div>
        <label for="name" class="block text-sm/6 font-medium text-gray-900"
          >Category name</label
        >
        <div class="mt-2">
          <input
            id="name"
            required
            class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            formControlName="name"
          />
        </div>
        <div
          *ngIf="
            nameField &&
            nameField.invalid &&
            (nameField.dirty || nameField.touched)
          "
          class="mt-2 text-sm text-red-500"
        >
          <div *ngIf="nameField.hasError('required')">
            Category name is required.
          </div>
        </div>
      </div>

      <div>
        <div class="flex gap-6">
          <label
            for="imageUrl"
            class="block text-sm/6 font-medium text-gray-900"
            >Upload image</label
          >
          <!-- Switch btn -->
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" (change)="switchUseUrl($event)" />
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
            <span
              class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Use URL</span
            >
          </label>
        </div>
        <div class="mt-2">
          <input
            id="imageUrl"
            class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            placeholder="https://"
            formControlName="imageUrl"
            *ngIf="isUploadFromUrl; else uploadImageFileTemplate"
          />

          <!-- Dropzone -->
          <ng-template #uploadImageFileTemplate>
            <div class="flex items-center justify-center w-full">
              <label
                for="dropzone-file"
                class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
              >
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <svg
                    class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span> or drag and
                    drop
                  </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    SVG, PNG, JPG or GIF
                  </p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" (change)="uploadImageFile($event)" />
              </label>
            </div>
          </ng-template>
        </div>
        <div
          *ngIf="
            imageUrlField &&
            imageUrlField.invalid &&
            (imageUrlField.dirty || imageUrlField.touched)
          "
          class="mt-2 text-sm text-red-500"
        >
          <div *ngIf="imageUrlField.hasError('invalidUrl')">
            Image URL is invalid.
          </div>
        </div>
      </div>

      <div class="flex gap-4 items-center justify-end">
        <button type="submit" class="btn secondary" (click)="close()">
          Close
        </button>
        <button type="submit" class="btn">Create new category</button>
      </div>
    </form>
  </div>
</div>
