<header>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div>
            <div class="text-white font-semibold">Username</div>
          </div>
          <div class="w-[1px] h-6 bg-zinc-500 mx-10"></div>
          <div class="hidden md:block">
            <div class="flex items-baseline space-x-4">
              <a
                routerLink="/admin/dashboard"
                class="nav-link"
                [routerLinkActive]="['active']"
                >Dashboard</a
              >
              <a
                routerLink="/admin/categories"
                class="nav-link"
                [routerLinkActive]="['active']"
                >Categories</a
              >
              <a
                routerLink="/admin/foods"
                class="nav-link"
                [routerLinkActive]="['active']"
                >Foods</a
              >
              <a
                routerLink="/admin/my-cart"
                class="nav-link"
                [routerLinkActive]="['active']"
                >My Cart</a
              >
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex gap-2 items-center md:ml-6">
            <button
              type="button"
              class="relative inline-block w-10 h-10 rounded-full bg-gray-800 text-gray-300 hover:text-white hover:outline hover:outline-solid hover:outline-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button
              type="button"
              class="relative inline-block w-10 h-10 rounded-full bg-gray-800 text-gray-300 hover:text-white hover:outline hover:outline-solid hover:outline-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              (click)="logout()"
            >
              <i class="fa-solid fa-right-from-bracket"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
