<div class="flex gap-4">
  <div class="w-1/2">
    <form class="space-y-6" [formGroup]="fg" (ngSubmit)="createCategory()">
      <div>
        <label for="name" class="block text-sm/6 font-medium text-gray-900"
          >Category name</label
        >
        <div class="mt-2">
          <input
            id="name"
            required
            class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            formControlName="name"
          />
        </div>
        <div *ngIf="nameField && nameField.invalid && (nameField.dirty || nameField.touched)"
             class="mt-2 text-sm text-red-500"
        >
          <div *ngIf="nameField.hasError('required')">Category name is required.</div>
        </div>
      </div>

      <div>
        <label for="imageUrl" class="block text-sm/6 font-medium text-gray-900"
          >Image URL</label
        >
        <div class="mt-2">
          <input
            id="imageUrl"
            class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            formControlName="imageUrl"
          />
        </div>
        <div *ngIf="imageUrlField && imageUrlField.invalid && (imageUrlField.dirty || imageUrlField.touched)"
             class="mt-2 text-sm text-red-500"
        >
          <div *ngIf="imageUrlField.hasError('invalidUrl')">Image URL is invalid.</div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 cursor-pointer font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Create new category
        </button>
      </div>
    </form>
  </div>
  <div class="w-1/2">List</div>
</div>
